In [2]:
from script.configuration import DATA_PATH, EXPORT_PATH_1

In [3]:
from script.cleaning import (
    classify_job_titles,
    refactor_experience_level,
    refactor_employment_type,
    refactor_company_size,
    refactor_remote_ratio,
)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv(DATA_PATH)

In [6]:
df.head(2)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S

In [7]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [8]:
df["new_job_title"] = classify_job_titles(df)

In [9]:
df["experience_level"] = refactor_experience_level(df)

In [10]:
df["employment_type"] = refactor_employment_type(df)

In [11]:
df["company_size"] = refactor_company_size(df)

In [12]:
df["remote_ratio"] = refactor_remote_ratio(df)

In [13]:
df.to_csv(EXPORT_PATH_1, index=False)