In [1]:
import sys

sys.path.append("../")

In [2]:
from script.configuration import FINAL_PATH
from modeling.model import Agent

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
import xgbo

In [4]:
df = pd.read_csv(FINAL_PATH)

In [5]:
df.head(3)

,experience_level,employment_type,employee_residence,remote_ratio,company_location,company_size,new_job_title,sqrt_salary_in_usd,Cluster_Label
0,3,2,5,0,5,0,5,292.997,1
1,2,0,7,0,7,2,3,173.205,0
2,2,0,7,0,7,2,3,159.687,0

In [6]:
base_model = LinearRegression()

In [7]:
X = df.drop(columns=["sqrt_salary_in_usd"])
y = df["sqrt_salary_in_usd"]

In [9]:
model = Agent(base_model)

In [10]:
model.train(X, y)

In [11]:
y_pred = model.prediction()

In [12]:
metrics = model.evaluate(y_pred)

In [13]:
model.display_metrics(metrics)

Model Performance Metrics:
-------------------------
Mean Absolute Error (MAE): 59.22
Mean Squared Error (MSE): 5632.60
Root Mean Squared Error (RMSE): 75.05
R-squared (R2): 0.30

In [ ]:
models = {"SVR": SVR()}