In [ ]:
from script.configuration import FINAL_PATH, MODEL_PATH
from modeling.random_forest import RandomForest

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv(FINAL_PATH)

In [6]:
df.head(2)

,experience_level,employment_type,employee_residence,remote_ratio,company_location,company_size,new_job_title,sqrt_salary_in_usd,Cluster_Label
0,3,2,5,0,5,0,5,292.997,1
1,2,0,7,0,7,2,3,173.205,0

In [7]:
X = df.drop(columns=["sqrt_salary_in_usd"])
y = df["sqrt_salary_in_usd"]

In [8]:
model = RandomForest()

In [9]:
model.train(X, y)

In [10]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10, 15],
}

In [11]:
best_model = model.tune_hyperparameters(param_grid)

d:\App\Lib\site-packages\sklearn\model_selection\_search.py:1051: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan]
  warnings.warn(

In [12]:
y_pred = model.prediction(best_model)

In [13]:
metrics = model.evaluate(y_pred)

In [14]:
model.display_metrics(metrics)

Model Performance Metrics:
-------------------------
Mean Absolute Error (MAE): 51.60
Mean Squared Error (MSE): 4251.10
Root Mean Squared Error (RMSE): 65.20
R-squared (R2): 0.47

In [15]:
model.save_model(best_model, MODEL_PATH)