In [ ]:
from script.configuration import EXPORT_PATH_1
from script.plot import (
    bar_plot,
    salary_plot,
    plot_grouping_salary,
    plot_top_5_salaries,
    plot_salary_transformations,
)

In [ ]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [ ]:
df = pd.read_csv(EXPORT_PATH_1)

In [ ]:
df.head(3)

In [ ]:
columns = [
    "experience_level",
    "employment_type",
    "company_size",
]

In [ ]:
for column in columns:
    bar_plot(df, column, 1000, 700)

In [ ]:
salary_plot(df, "salary", 1000, 600)

In [ ]:
salary_plot(df, "salary_in_usd", 1000, 600)

In [ ]:
columns = df.columns.to_list()
columns = [
    column
    for column in columns
    if column not in ["salary", "salary_currency", "salary_in_usd", "remote_ratio"]
]

In [ ]:
for column in columns:
    plot_grouping_salary(df, column, 1000, 800)

In [ ]:
plot_top_5_salaries(df, 1000, 1300)

In [ ]:
plot_salary_transformations(df, 1200, 1000)